#headertext {
  text-align: center;
  font-size: 20px;
  background: #078585;
  background: linear-gradient(90deg,
      rgba(7, 133, 133, 1) 0%,
      rgba(0, 255, 242, 1) 100%);
  border-bottom: 2px solid rgb(0, 217, 255);
  padding: 3px;
  position: relative;
  overflow: hidden;
}

#headertext * {
  position: relative;
  z-index: 1; /* usado para mexer nas camadas do site */
}

#headertext::after {  /* insere um "filho" depois do conteudo, é basicamente algo criado depois que o html cria o header */
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 183, 255, 0.5);
  animation: pulse 2s ease-in-out infinite; /* tempo de animação da pulsada */
  z-index: 0;
}

#btn {
  background-color: #027cb4;
  border: none;
  cursor: pointer;
  padding: 1rem 2.5rem;
  border-radius: 20px;
  font-size: 1rem;
  transition: all 0.3s;
  animation: pulsebtn 3s ease-in-out infinite;
  
}
#btn:hover{
  background-color: #2ea6dd;
  font-size: 1.1rem;
}
#btn-container{
    position: absolute;
    bottom: 7rem;
    left: 50%;
    transform: translateX(-50%);
}


@keyframes pulse {
  0%,                /* ainda nao entendi muito bem os keyframes em css, mas a logica nao é diferente de um editor de video */
  100% {
  opacity: 0;
  }
  
  50% {
    opacity: 1;
  }
  
}
@keyframes pulsebtn {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
}


#viego {
  width: 100%;
  mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
  height: 100%;
  object-fit: cover;


}



.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1; /* joga pra trás de tudo */
  display: flex;
  align-items: center;

}

.destaque {
  background: linear-gradient(to right, #027cb4, #00e1ff);
  background-clip: text;
  color: transparent;
  font-weight: 900;
  font-size: 10vw;

}

.sobreportexto {
  position: absolute;
  /* deixa o texto ficar aonde ele quiser */
  top: 35%;
  /* mexe na vertical */
  left: 25%;
  transform: translateY(-50%);
  /* centraliza a bomba */
  color: white;
  font-size: 3vw; /*ai bobao, n usa valores fixos tipo "150px" pq isso ai nao muda conforme o tamanho da tela, esse comando ai é o viewpoint, ele faz o objeto ser tantos % do tamanho total da tela*/
  text-align: center;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: #116969;
}

